@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    box-sizing: border-box !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
.input:focus {
    /*outline: none !important;*/
   /* border:1px solid red;*/
    box-shadow: 0 0 10px #719ECE;
}
.wrapper {
    box-sizing: border-box!important;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page-header, .page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page-body {
    flex-grow: 1;
}

main {
    /*width: 400px;
    border: solid 1px;*/
    margin-top: 100px;
}

